.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60px; /* Default width for collapsed state */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5fa8d3;
  transition: 0.5s;
  z-index: 2;
  border-radius: 5px;
  padding-top: 60px;
  overflow-x: hidden;
}

.sidebar a .dropdown-icon {
  display: none; /* Icons hidden by default */
}

/* When sidebar is open, icons are displayed */
.sidebar.open a .dropdown-icon {
  display: inline; /* Show dropdown icons when sidebar is expanded */
}

.sidebar-links {
  padding-left: 5px;
  margin-top: 20px;
  flex-grow: 1;
}

.sidebar-links .logout {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.sidebar-links .help {
  bottom: 1px;
}

.sidebar .sidebar-links a {
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  transition: 0.3s;
  height: 50px;
  margin-top: 5px;
  border-radius: 10px 0 0 10px;
  line-height: normal;
}

.sidebar .help,
.logout {
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  transition: 0.3s;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px 0 0 5px;
  line-height: normal;
}

.sidebar a .fas.fa-clock-rotate-left {
  margin-right: 15px;
}

.sidebar a .fas.fa-columns {
  margin-right: 15px;
}

.sidebar a i {
  margin-right: 10px;
  font-size: 24px;
  vertical-align: middle;
}

.sidebar a .link-text {
  display: none;
}

.sidebar a:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Sidebar Toggle Button */
.toggle-btn {
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.1s ease;
  padding: 5px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.toggle-text {
  margin-right: 10px;
  display: none;
  font-size: 12px;
}

.sidebar.open .toggle-text {
  display: inline;
}

.sidebar.open .toggle-btn i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.sidebar.open .toggle-btn i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar.open a .link-text {
  display: inline;
}

.sidebar.open a i {
  margin-right: 20px;
}

.sidebar.open ~ .content {
  margin-left: 250px;
}

/* line break style */
hr {
  border: 1px solid #fff;
}

/* Ensure each dropdown container is properly positioned */
.dropdown-container {
  max-height: 0; /* Set initial height to 0 */
  overflow: hidden; /* Hide the overflow */
  padding-left: 20px;
  transition: max-height 0.6s ease-in-out; /* Smooth transition */
  background-color: #e0e0e08f;
  border-bottom-left-radius: 10px;
  position: relative; /* This ensures dropdowns do not overlap */
  z-index: 1; /* Ensure it appears above other sections */
  margin-bottom: 10px; /* Add margin between dropdowns */
}

.dropdown-container.show {
  max-height: 500px; /* Adjust max-height depending on the content height */
  z-index: 2; /* Bring the expanded dropdown in front of other sections */
}

.dropdown-icon {
  float: left;
  padding-left: 10px;
}

/* Additional styling for dropdown items */
.dropdown-container li {
  list-style-type: none;
  margin-top: 5px;
}

.dropdown-container li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  padding: 5px;
  display: block;
  border-radius: 5px;
  transition: 0.3s;
}

.dropdown-container li a:hover {
  background-color: #ffffff;
  color: #000000;
}
